<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Навигатор</title>
    <style>
        .scheme {
            height: 360px;
            width: 900px;
            position: relative;
        }

        .scheme svg {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 360px;
            width: 900px;
        }

        .scheme polygon {
            fill: #FFDBA4;
            cursor: pointer;
            stroke: #4682B4;
            fill: #ADD8E6;
        }

        .isSelectedAud {
            fill: rgb(55, 255, 0) !important;
        }

        .isSelectedHall {
            fill: rgb(220, 91, 156) !important;
	        stroke: none !important;
        }

        

        .floor_button_panels { 
            text-align: center;
        }

        .navigation_panel_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .navigation_panel_wrapper__selectors {
            display: flex;
            margin-top: 20px;
            column-gap: 15px;
        }

        .navigation_panel_wrapper button, .floor_button_panels button {
            margin-top: 20px;
            padding: 15px;
            border: none;
            border-radius: 6px;
            text-decoration: none;
            color: white;
            background: #0B63F6;
            cursor: pointer;
        }

        


    </style>

    
</head>
<body>
    <div class="floor_button_panels">
        <button class="btn" value="100">100</button>
        <button class="btn" value="200">200</button>
        <button class="btn" value="300">300</button>
    </div>

    <div class="navigation_panel_wrapper">
        <div class="navigation_panel_wrapper__selectors">
            <div>
                <span>Откуда</span>
                <select id="select-from">
                </select>
            </div>
            <div>
                <span>Куда</span>
                <select id="select-to">
                </select>
            </div>            
        </div>
       <button id="search_path">Найти</button>
    </div>

    <div class="scheme">
        <svg id="svg">
            <g id="floor"/>
        </svg>
    </div>
    <script async src="script.js"></script>
</body>
</html>