.building-plug {
  display: flex;
  width: 100%;
  padding: 15px;
  height: 400px;
}

.admin-page {
  display: flex;
  width: 100%;

  &__left-section {
    width: 75%;
  }

  &__right-section {
    width: 25%;
    display: flex;
    justify-content: center;
  }
}

.routes-dropdown {
  display: inline-block;
  font-size: 14px;
  margin-top: 15px;
  height: auto;
  
  &__btn {
    width: 180px !important;

    span {
      margin-right: 10px;
    }
  }

  &__content {
    position: absolute;
    width: 180px;
    z-index: 1;
    border: 1px solid #bbb;
    border-radius: 4px;
    margin-top: 5px;

    a {
      transition: .3s;
      color: black;
      padding: 12px 0;
      text-decoration: none;
      display: block;
      padding-left: 5px;

      &:hover {
        background-color: #e2e2e2;
      }
    }
  }
}
