.markup-scheme {
    position: absolute;
}
  
.markup-scheme svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.img_and_scheme{
    display: flex;
    justify-content: center;
}

#pageContent{
    width: 100%;
    min-height: 100vh;
    margin: 10vh auto;
}

#appCode{
    width: 100%;
    margin: 10vh auto;
}

#image{
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin: 25px auto;
    padding: 10px 0;
    background-color: lightgray;
    border:4px dotted gray;
}

.imageInputForm {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
    margin-block-end: 1em;
    text-align: center;
}

