@import "components/FloorNavigationButtonGroup/FloorNavigationButtonGroup.css";

.scheme_container{
  display: grid;
  justify-content: center;
  align-items: center;
}

.scheme {
  padding-top: 20px;
  height: 360px;
  width: 900px;
  position: relative;
}

.scheme svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 360px;
  width: 900px;
}

.isHall {
	fill: #e2eafc !important;
	stroke: #c1d3fe;
}

.isAud {
	fill: #ADD8E6 !important;
	stroke: #4682B4;
	cursor: pointer;
}

.isElevatorOrStairs {
  fill: #4CC9F0 !important;
	stroke: #4682B4;
}

.isSelectedAud {
  fill: #DAFF7D !important;
  stroke: #4682B4;
}

.isSelectedHall {
  fill: #B2EF9B !important;
  stroke: #86ff5a !important;
}

.floor_button_panels { 
  text-align: center;
}

.navigation_panel_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navigation_panel_wrapper__selectors {
  display: flex;
  margin-top: 20px;
  column-gap: 15px;
}

.navigation_panel_wrapper button, .floor_button_panels button {
  margin-top: 20px;
  padding: 15px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  background: #0B63F6;
  cursor: pointer;
}

.selected_floor_text {
  font-weight: 900;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #0B63F6;
  -webkit-text-fill-color: #4CC9F0;
}