@tailwind base;
@tailwind components;
@tailwind utilities;

.scheme_container {
  display: flex;
  justify-content: center;
}

.scheme {
  padding-top: 20px;
  height: 360px;
  width: 900px;
  position: relative;
}

.scheme svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 360px;
  width: 900px;
}

.isHall {
  fill: #e2eafc !important;
  stroke: #c1d3fe;
}

.isAud {
  fill: #add8e6 !important;
  stroke: #4682b4;
  cursor: pointer;
}

.isElevatorOrStairs {
  fill: #4cc9f0 !important;
  stroke: #4682b4;
}

.isSelectedAud {
  fill: #daff7d !important;
  stroke: #4682b4;
}

.isSelectedHall {
  fill: #b2ef9b !important;
  stroke: #86ff5a !important;
}

.floor_button_panels {
  text-align: center;
}

.navigation_panel_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navigation_panel_wrapper__selectors {
  display: flex;
  margin-top: 20px;
  column-gap: 15px;
}

.navigation_panel_wrapper button,
.floor_button_panels button {
  margin: 20px 5px;
  padding: 15px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  background: #0b63f6;
  cursor: pointer;
}

.selected_floor_text {
  font-weight: 900;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #0b63f6;
  -webkit-text-fill-color: #4cc9f0;
  background-color: #b2ef9b;
}

:focus {
  outline: 0;
  border-color: #2260ff;
  box-shadow: 0 0 4px 4px #b5c9fc;
  z-index: 10;
}

.fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
} */

/* input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #dee7ff;
  z-index: 1;
  color: #0043ed;
} */

.floor_btn--active {
  /* box-shadow: 0 0 0 0.0625em #0043ed; */
  background-color: #dee7ff;
  z-index: 10;
  color: #0043ed;
}

.floor_btn {
  text-decoration: none;
}

label a {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em 0.75em;
  position: relative;
  margin-left: 0.0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: 0.05em;
  color: #3e4963;
  text-align: center;
  transition: background-color 0.5s ease;
}

label:first-child a {
  border-radius: 0.375em 0 0 0.375em;
}

label:last-child a {
  border-radius: 0 0.375em 0.375em 0;
}
